<h1 style ="text-align: center; font-style: italic;"> Timeline </h1>
<div class="container">
	<div class="col-md-6 mx-auto mb-5">
	<%= render 'form'%>
	<% @our_posts.each do |post|%>
	<div class="card" >
		<%if post.user_id == current_user.id %>
		<%= link_to "delete",post,
				  method: :delete,
				  data: { confirm: "Are you sure?" } %>
		<%end%>
		<div class="card">
		<h3><%= post.post%></h3></div>
		<span><%= post.created_at.to_formatted_s(:short)%></span>
	</div>
	<br>
	<%end%>
</div>
</div>
<!-- <style type="text/css">
.user_img{
	  height: 50px;
	  width: 50px;
	
	}
	
</style> -->